<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>
<form action="/detail" method="post">
    <input type="hidden" name="cafe" id="cafe" value="프리퍼커피로스터스"/>
    <input type="hidden" name="image" id="image" value="https://img1.kakaocdn.net/cthumb/local/R0x420/?fname=http%3A%2F%2Ft1.daumcdn.net%2Fplace%2F63830C56E9454C3AB2BE75CECC18A3C7"/>
    <input type="hidden" name="code" id="code" value="1199071795"/>
    <input type="submit" value="상세보기"/>
</form>
</body>
</html>